<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Team Builder</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>

  <!--NAV BAR-->
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <a class="navbar-brand" href="/index">Team Builder</a>
      <form class="navbar-form navbar-right" action="/_portal" method="get">
      <button name="portal" type="submit" value="admin" class="btn btn-default">Log In</button>
  </form>
    </div>
  </nav>

  <!---MAIN CONTENT-->
  <div class="container">
    <div class="jumbotron">
    <h1>Welcome to <b>Team Builder</b></h1> 
    <p>Team Builder is a web app that allows ideal teams to be formed for a CIS 422 class. To get started, either log in / sign up as an instructor, or as a student head straight to the form submission by clicking below.</p> <br>
    <form action="/_portal" method="get" style="padding: 0 10 5 25;">
   <button name="portal" type="submit" value="client" class="btn btn-info btn-lg" >Fill out a form</button></form>
  </div>
  </div>

  <script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    function myFunction(val){
        document.getElementById("myForm").submit();
    };
</script>
</div>
</body>
</html>
