<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Login Page</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>

<body>

<!--NAV BAR-->  
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="#">Team Builder</a>
  </form>
  </div>
</nav>


<div class="container-fluid bg-1 text-center">
<h1>Login Page</h1>
<p>Enter your key for the Administrator</p>
</div>
<div class="container-fluid bg-2">
    <form id="myForm">
    Name: <input type="text" id="adminName" name="adminName"><br>
    Password: <input type="password" id="adminKey" name="adminKey"><br><br>
    <input id="myBtn" type="button" value="requestAccess">
</form>
    <a href="/createAdmin">New Admin?</a>

    
  <script type="text/javascript">

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function(){
      $("#myBtn").click(function(){
          var adminName = document.getElementById("adminName").value;
          var adminKey = document.getElementById("adminKey").value;
          $.getJSON($SCRIPT_ROOT + '/_submitLoginRequest',
                  { adminName: adminName, adminKey: adminKey, setting: document.getElementById("myBtn").value},
                  function(data) {
                     var result = data.result;
                     obj = JSON.parse(result);
                     if(result == "result: failed"){
                        alert("invalid username or password, please try again");
                         }
                    else{
                        window.location = $SCRIPT_ROOT + "/admin"
                        }

                  }); // End of the call to getJSON
          });  // End of the function to be called when field changes
     });   // end of what we do on document ready

</script>

</div>
</body>
</html>
